[Unit]
Description=Stop and clean up GNS3 config server

[Service]
Type=oneshot
ExecStart=/bin/systemctl stop gns3-config-serve.service
ExecStart=/bin/systemctl disable gns3-config-serve.service
ExecStart=/bin/rm -rf ${CONFIG_SERVE_DIR}
ExecStart=/bin/systemctl disable gns3-config-serve-stop.timer
ExecStart=-/usr/sbin/ufw delete allow ${CONFIG_SERVE_PORT}/tcp